<div class="container h-100" *ngIf="isAllowed; else noPermissionMessage">
    <div class="row gx-5 h-100 ">
        
        <div class="col-md" style="background-image: url('../../assets/images/cleaning\ service-pana.svg'); background-size: contain; background-position: center center; background-repeat: no-repeat;">
        </div>

        <div class="col-md d-flex flex-column justify-content-center ">

            <p class="custom-title text-center m-0">Create Vacuum</p>

            <p class="custom-lable text-start mx-0 mt-3 mb-0">Vacuum Name</p>
            <div class="row m-0" style="border-bottom: 1px solid black;">
                <div class="col-auto py-1 px-0">
                    <img src="../../assets/images/vacuum.png" style="pointer-events: none; user-select: none; height: 32px; width: 32px;">
                </div>
                <div class="col pe-0 pt-0 pb-0 d-flex align-items-center" style="padding-left: 12px;">
                    <input type="text" placeholder="Type vacuum name" class="custom-input" [(ngModel)]="name">
                </div>
            </div>

            <!-- Button -->
            <div class="row mt-4">
                <div class="col d-flex align-items-center">
                    <button class="custom-button" (click)="createVacuum()">CREATE</button>
                </div>
            </div>
        </div>

        
    </div>
</div>

<ng-template #noPermissionMessage>
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <p class="custom-lable text-center">You don't have permission to access this page.</p>
    </div>
</ng-template>

