.custom-title {
    color: black;
    font-size: 32px;
    font-weight: 700;
  }
  
  .custom-label {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }

  .custom-window {
    overflow: auto !important;
    max-height: 80vh !important;
    margin: 50px !important;
    max-width: 100%;
  }

  .table {
    background-color: transparent;
    border-radius: 15px;
    border: 0.5px solid #000000;
    overflow: auto;
    width: 100%;
  }
  
  .table th, .table td {
    border: 0.5px solid #000000; /* Boja i širina granice ćelije */
    width: auto; /* Postavljamo širinu ćelije prema sadržaju */
    white-space: nowrap; /* Onemogućavamo prelazak teksta u novi red */
    vertical-align: middle; /* Vertikalno poravnanje teksta u sredinu ćelije */
  }

  .table td{
    font-weight: 300; /* Manja debljina fonta */
  }


  